*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto";
}
button:hover{
    cursor: pointer;
}
.d-flex-c{
    display: flex;
    flex-direction: column;  
}
.d-flex-r{
    display: flex;
    flex-direction: row;  
}
#m-container{
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 50px 0 50px;
}
#header{
    background-image: url(../Assets/Banner.jpg);
    color: white;
    justify-content: space-between;
    height: 280px; 
    width: 1460px;
    margin-left: -230px;
    padding-left: 230px;
    padding-right: 230px;
}
.btn{
    width: 150px;
    height: 40px;
    background-color: #63938A;
}
#nombrepilares{
    align-items:stretch;
    width: 400px;
    padding-top: 25px;
}
#logos{
    padding-top: 25px;
}
#redes{
    display: flex;
    justify-content: end;
}
#content{
    padding-top: 25px;
}
#categoria{
    height: 100px;
    width: 450px;
    background-image: url(../Assets/ImgCategoria.jpg);
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    align-content: center;
    margin: 13px 0 13px 0;
}
#categoria:active{
    color:#991C46;
}
#categoria:focus{
    color:#991C46;
}
#Talleres{
    man-width: 800px;
    min-width: 300px
}
#t-searcher{
    display: flex;
    align-items: center;
}
#searcher{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}
#input-buscador{
    width: 415px;
    height: 32px;
    border-radius: 8px;
    padding-left: 15px;
}
.btn-edit{
    border: 3px solid #9c9c9c;
}
#talleres_container{
    background-color: #FAFAFA;
    border-radius: 16px;
    padding: 0px 10px 30px 10px;
    overflow-y: scroll;
    width: 990px;
    max-height: 525px;
    margin-top: 15px;
}
#img-taller{
    width: 250px;
    height: 124px;
    overflow: hidden;
}
#taller{
    margin-top: 30px;
}
#t-taller{
    color:#991C46;
    font-weight: 1000;

}
#contacto{
    margin-top: 15px;
}
#t-descripcion{
    margin-left: 15px;
    width: 430px;
}
#horarios{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap-reverse;
    width: 330px;
}
.btn-ins{
    background-color: #155D4F;
    color: white;
    padding: 10px;
    width: 132px;
    border-radius: 8px;
    margin-top: 25px;
}




.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  #ubicacion{
    display: flex;
    flex-direction: row;
  }
  #maps{
    color: white
  }

  /*css de eventos*/
  #tituloevento{
    text-align: center;
  }
  #eventoscontainer{
    margin: auto;
  }
  #cardevento{
    overflow: hidden;
    width: 380px;
    height: 520px;
    border: 1px solid #000;
  }
  #card{
    
  }


@media only screen and (max-width: 431px) {
   #m-container{
    width:100vw;
    padding-left: 15px;
    padding-right: 15px;
    height: 100vh;
    overflow: hidden;
    }
   #header{
    height:160px;
    width: 100vw;
    margin-left: -25px;
    padding-left: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   }
   #logos{
    position: relative;
   }
   #redes{
    position: absolute;
    left: -90px;
    bottom: 0;
   }
   #logo-p{
    width: 150px;
    display: none;
   }
   #selec_cat
   {
    display: flex;
    align-items: end;
   }
   #selcat{
    margin-left: 20px;
    margin-bottom: 2px;
   }
   #N-Pilares{
    font-size: 12pt;
   }
   #content{
    flex-direction: column;
   }
   #cat-cont{
    display:flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
   }
   #cat1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -15px;
   }
   #cat2{
    display: flex;
    justify-content: space-around;
    align-items: center;
   }
   #lineas{
    background-color: #155D4F;
    width: 2px;
    height: 20px;
   }
   #categorias{
    margin-bottom: 20px;
   }
   #categoria{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-image: none;
    color: black;
    font-size: 8pt;
    padding: 0 10px 0 10px ;
   }
   #categoria:hover{
    background-color: #991C46;
    color: white;
    cursor: pointer;
   }
   #Talleres{
    width: 95vw;
   }
   #sea{
    display: flex;
    align-content: center;
   }
   #input-buscador{
    width: 180px;
    margin-right: 10px;
   }
   #talleres_container{
    width: 370px;
   }
   #img-taller{
    width: 80px;
    height: 50px;
   }
   #t-descripcion{
    width: 150px;
    margin-left: 10px;
   }
   #t-taller{
    font-size: 12pt;
   }
   #t-tallerista{
    font-size: 9pt;
   }

   #d-taller{
    font-size: 9pt;
    display: none;
   }
   #contacto{
    display:none;
   }
   #horarios{
    font-size: 8pt;
   }
   .btn-ins{
    margin-top: 10px;
    height: 30px;
    width: 100px;
    padding: 5px;
   }
   #direccion{
    display: none;
   }
   .btn{
    height: 32px;
    width: 100px;
    border-radius: 10px;
    color: white;
   }
   #btns-header{
    display: flex;
   }
   #eventos{
    margin-left: 15px;
   }
   #maps{
    display: block;
}




/*.btn{
    display:inline-block;
    background:#ccc;
    line-height:36px;
    padding: 0 10px;
    cursor:pointer;
  }
  #taller{
    display:none
  }
  #taller.active{
    display:block
  }*/

  #form{
    width: 820px;
    height: 560px;
    background-color: #FAFAFA;
    text-align: center;
}
#formconteiner{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
#titformulario{
   padding-top: 30px;
}
#formizquierdo{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
#llena{
    text-align: left;
}
#forminput1{
    display: flex;
    flex-direction: column;
   

    }
    #inputtn{
        margin-top: 10px;
        border-radius: 5px;
        width: 375px;
        height: 40px;
        padding-left: 10px;
    }
    #inputdes{
        margin-top: 10px;
        border-radius: 5px;
        height: 80px;
        padding: 10px;
        padding-left: 10px;
    }

    #forminput2{
        margin-top: 10px;
        width: 355px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        
    }
    #tabla{
        text-align: left;
    }
    #input2text{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
    }
    #input2entradas{
        display: flex;
        flex-direction: row;
        padding: 10px;
    }

    #inputdia{
        
        margin-right: 50px;
        width: 65px;
        height: 40px;
        border-radius: 5px;
        padding: 10px;
    }
    #inputhora{
        width: 100px;
        height: 40px;
        margin-right: 5px;
        
        
        border-radius: 5px;
        padding: 10px;
    }
    #formboton{
        margin-top: 10px;
        
    }
    #botoninput1{
        width: 100%;
        height: 36px;
        background-color: #4A9183;
        color: white;
        border-radius: 5px;
    }
    #formderecho{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        
    }
    #forminput3{
        display: flex;
        flex-direction: column;
    }
    #inputcorreocel{
        border-radius: 5px;
        margin-top: 10px;
        width: 375px;
        height: 40px;
        padding-left: 10px;
    }

    #subir{
        display: flex;
        flex-direction: column;
    }
    #selsarchi{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 40px;
    }
    #inputfile{
        width: 100%;
        height: 40px;
    }
    #nuevotaller{
        width: 100%;
        height: 36px;
        background-color: #A12F32;
        color: white;
        border-radius: 5px;
    }
    #sube{
        text-align: left;
    }